<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>maoPaoView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04FE74741D12A0D1002D2DC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04FE748D1D12A0D2002D2DC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04FE74981D12A0D2002D2DC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
